:root {
  --back_color: rgba(0,0,0,0.87);
  --logo_color: rgba(255, 0, 0, 1);
  --text_color: rgba(255,255,255,0.85);
  --text_color_light: rgba(255,255,255,0.5);
  --red_color: rgba(255, 0, 0, 0.9);

  --text_font: "hero-new";
  --menu_font: "hackman";
  --logo_font: "rieven-uncial";

  --logo_size: 6.3vw;

  --font_size: 1.4vw;
  --h1_size: 4.3vw;
  --h2_size: 3.4vw;

  --mini_padding: 0.9vw;
  --small_padding: 1.8vw;
  --line_size: 2.2vw;
  --padding: 2.7vw;
  --maxi_padding: 5.3vw;

  --anti_mini_padding: -0.9vw;
  --anti_small_padding: -1.8vw;
  --anti_font_size: -1.4vw;
  --anti_line_size: -2.2vw;
  --anti_padding: -2.7vw;
  --anti_h2_size: -3.4vw;
  --anti_h1_size: -4.3vw;
  --anti_maxi_padding: 5.3vw;
}

*, html, body, h1, h2, h3, h4, h5, h6, a, img, ul, ol, li, div, span, b, time, u, p, input, label, textarea, select, option {
  color: var(--text_color);
  font-family: var(--text_font);
  font-size: var(--font_size);
  line-height: var(--line_size);
  font-weight: 200;
  font-style: normal;
  margin: 0;
  padding: 0;
  position: relative;
  border: 0;
  vertical-align: top;
  z-index: auto;
  box-sizing: border-box;
}

.clear:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,body, .big_wrap, .flex_wrap {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--back_color);
}

h1, h2, h3, h4, a.h3 {
  font-family: var(--menu_font);
  text-align: center;
}

h1 {
  font-size: var(--h1_size);
  line-height: var(--h1_size);
  color: var(--red_color);
  font-weight: bolder;
  margin-bottom: var(--h2_size);
}

h2 {
  font-size: var(--h2_size);
  line-height: var(--h2_size);
}

h3, a.h3 {
  font-size: var(--font_size);
  line-height: var(--font_size);
}

h4 {
  font-size: var(--line_size);
  line-height: var(--padding);
  margin-bottom: var(--font_size);
  margin-top: var(--font_size);
  display: inline-block;
}

a {
  text-decoration: none;
  border-bottom: var(--text_color_light) 0.1vw groove;
}

a.h3, .left_menu a {
  border: none;
  display: block;
}

a.home {
  border: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

p, .text_ul {
  margin-left: calc(var(--padding) - var(--font_size));
  margin-right: calc(var(--padding) - var(--font_size));
  margin-bottom: var(--line_size);
}

img+p, .pic+p {
  margin-top: var(--maxi_padding);
}

p.xl {
  font-size: var(--small_padding);
  line-height: var(--padding);
}

p.xs {
  color: var(--text_color_light);
  margin-bottom: var(--font_size);
}

q {
  font-style: italic;
  quotes:'«' '»';
}

q+span {
  font-size: smaller;
  display: inline-block;
  padding-top: var(--padding);
}

time {
  display: block;
  font-size: smaller;
  color: var(--text_color_light);
  top: var(--anti_mini_padding);
  opacity: 0.5;
}

aside {
  top: var(--anti_mini_padding);
  margin-bottom: var(--font_size);
}

h4+aside {
  top: 0;
  color: var(--text_color_light);
}

.text_ul {
  list-style: none;
}

.text_ul li {
  line-height: var(--padding);
  padding-left: var(--padding);
}

.text_ul li::before {
  content: "•";
  color: var(--red_color);
  font-family: var(--menu_font);
  line-height: var(--padding);
  font-weight: bolder;
  position: relative;
  left: var(--anti_mini_padding);
}

.big_wrap {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.wrap {
  padding: var(--font_size);
}

.flex_wrap {
  display: flex;
  flex-wrap: wrap;
}

.tiramisu {
  font-family: var(--menu_font);
  text-align: center;
  cursor: pointer;
  padding-top: calc(var(--font_size)*4);
  margin: auto;
  margin-top: var(--padding);
}

.tiramisu::before, .tiramisu::after {
  text-align: center;
  display: block;
  width: 100%;
  position: absolute;
  line-height: 0.9;
  top: 0;
}

.tiramisu::before {
  content: "^";
}

.tiramisu::after {
  content: "|"'\A'"|"'\A'"|";
  white-space: pre;
}

.flex_line {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  height: fit-content;
}

.top_line {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--padding);
}

.logo {
  width: calc(var(--logo_size)*1.5);
}

.logo::before, .logo::after,
.home::before, .home::after {
  font-size: var(--logo_size);
  color: var(--logo_color);
  font-family: var(--logo_font);
}

.logo::before {
  content: "a";
}

.logo::after {
  content: "s";
  position: relative;
  top: 9%;
  left: -16.5%;
}

.top_menu_mobile {
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  padding-top: var(--padding);
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
}

.top_menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

.top_menu .h3 {
  cursor: pointer;
  margin-left: var(--h1_size);
}

.top_menu .active {
  left: 0;
  cursor: default;
  position: absolute;
  color: white;
  font-size: larger;
  margin-left: 0;
}

.top_menu .active.second {
  cursor: pointer;
}

.top_line .icon {
  position: absolute;
  right: 0;
  top: 0;
  color: var(--red_color);
  width: var(--padding);
  height: var(--padding);
  display: none;
  cursor: pointer;
  z-index: 9999;
}

.top_line .icon.mobile::before {
  content: attr(data-before);
  font-size: var(--padding);
  line-height: var(--h1_size);
}

.content {
  padding-top: var(--h2_size);
}

.content.main_page p {
  width: 50%;
  margin: auto;
  font-size: var(--line_size);
  line-height: var(--h1_size);
}

:not(.pic)+.pic, .pic:first-of-type {
  margin-top: 0;
}

.pic {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-evenly;
  margin-top: var(--padding);
}

.pic img {
  max-width: 100%;
  max-height: 90vh;
  object-fit: contain;
}

.pic.ss img {
  max-width: 30%;
  max-height: 90vh;
  object-fit: contain;
}

.left_menu {
  left: var(--anti_font_size);
  border-left: var(--logo_color) 0.2vw solid;
  display: flex;
  flex-direction: column;
}

.left_menu .menu_item {
  padding-left: var(--padding);
  cursor: pointer;
  order: 2;
}

.content.books .left_menu .menu_item {
  cursor: default;
}

.left_menu .menu_item:last-of-type {
  padding-bottom: calc(var(--font_size)*0.8);
}

.left_menu .menu_item:last-of-type h4+p, .left_menu .menu_item:last-of-type aside {
  margin-bottom: 0;
}

.left_menu .menu_item h4::before {
  width: var(--font_size);
  height: 55%;
  content: "";
  border-bottom: var(--text_color) 0.2vw solid;
  position: absolute;
  left: var(--anti_padding);
}

.ol_list {
  list-style: none;
  counter-reset: ol_counter;
}

.ol_list li::before {
  counter-increment: ol_counter;
  content: counter(ol_counter)".";
  font-size: smaller;
  color: var(--text_color_light);
  position: absolute;
  width: var(--line_size);
}

.ol_list p {
  font-size: smaller;
  margin-bottom: var(--font_size);
  display: block;
  margin-left: var(--padding);
}

.ol_list p span::before {
  content: "«";
}

.ol_list p span::after {
  content: "»";
  margin-right: var(--font_size);
}

.ol_list p span::before, .ol_list p span::after {
  color: var(--text_color_light);
}

.left_menu .menu_item:last-of-type .ol_list li:last-of-type p {
  margin-bottom: 0;
}

.item_page .left_menu {
  display: none;
}

.pager {
  left: var(--anti_font_size);
  border-left: var(--logo_color) 0.2vw solid;
  padding-bottom: var(--line_size);
  padding-left: var(--padding);
  margin-top: var(--font_size);
  width: fit-content;
}

.pager::before {
  width: 100%;
  height: 100%;
  content: "";
  border-bottom: var(--red_color) 0.2vw solid;
  position: absolute;
  left: 0;
}

.pager a {
  font-size: smaller;
  color: var(--text_color_light);
  margin-right: var(--padding);
  border: none;
  top: var(--mini_padding);
  transition: all 0.2s;
}

.pager a:hover {
  font-size: inherit;
  color: inherit;
}

.pager a:hover::before {
  border-right-color: var(--red_color);
}

.pager a::before {
  content: "";
  border-right: var(--text_color_light) 0.1vw solid;
  height: var(--mini_padding);
  position: absolute;
  bottom: var(--anti_font_size);
  left: 50%;
}

.pager a.active {
  font-size: inherit;
  color: inherit;
}

.pager a.active::before {
  border-right-color: var(--red_color);
}

.pager a.active:hover {
  font-size: smaller;
  color: var(--text_color_light);
}

.pager a.active:hover::before {
  border-right-color: var(--text_color_light);
}

.bottom_line {
  margin-top: var(--maxi_padding);
  padding-bottom: var(--font_size);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  bottom: 0;
  align-self: flex-end;
}

.bottom_line a {
  color: inherit;
  font-size: inherit;
}

.bottom_line .last, .bottom_line .social_links {
  flex-basis: 50%;
}

.last {
  color: var(--text_color_light);
  font-size: smaller;
}

.social_links {
  text-align: right;
}

.social_links * {
  width: var(--line_size);
  height: var(--line_size);
  display: inline-block;
  border: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: var(--mini_padding);
  opacity: 0.8;
}

.social_links .twitter {
  background-image: url(images/logo_twitter.png);
}

.social_links .github {
  background-image: url(images/logo_github.png);
}

.social_links .googleplay {
  background-image: url(images/logo_android.png);
  border-radius: 50%;
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  :root {
    --font_size: 2.1vw;
    --h1_size: 6.5vw;
    --h2_size: 5.1vw;
    --mini_padding: 1.6vw;
    --small_padding: 2.7vw;
    --line_size: 3.3vw;
    --padding: 4vw;
    --maxi_padding: 8vw;
    --logo_size: 9.5vw;
    --anti_mini_padding: -1.6vw;
    --anti_small_padding: -2.7vw;
    --anti_font_size: -2.1vw;
    --anti_line_size: -3.3vw;
    --anti_padding: -4vw;
    --anti_h2_size: -5.1vw;
    --anti_h1_size: -6.5vw;
    --anti_maxi_padding: 8vw;
  }

  h4 {
    font-size: var(--padding);
  }

    .content.main_page p {
    width: 80%;
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  :root {
    --font_size: 4.2vw;
    --h1_size: 12.8vw;
    --h2_size: 10.2vw;

    --logo_size: 18.9vw;

    --mini_padding: 2.7vw;
    --small_padding: 5.3vw;
    --line_size: 6.6vw;
    --padding: 8.2vw;
    --maxi_padding: 16vw;

    --anti_mini_padding: -2.7vw;
    --anti_small_padding: -15.3vw;
    --anti_font_size: -4.2vw;
    --anti_line_size: -6.6vw;
    --anti_padding: -8.2vw;
    --anti_h2_size: -10.2vw;
    --anti_h1_size: -12.2vw;
    --anti_maxi_padding: 16vw;
  }

  .logo {
        width: calc(var(--logo_size)*1.65);
  }

  h4 {
    font-size: var(--padding);
  }

  .top_menu .h3 {
    display: none !important;
  }

  a.h3 {
    font-size: var(--h2_size);
    line-height: var(--h1_size);
  }

  .top_line .icon {
    display: block;
  }

  .top_menu .active.second {
    display: block !important;
  }

  .content.main_page p {
    width: 80%;
    font-size: larger;
    line-height: var(--h2_size);
  }

  h4 {
    text-align: left;
  }

  .pic {
    max-height: 90vh;
    display: block;
    width: 100%;
    text-align: center;
  }

  .ol_list p span {
    display: block;
  }

  .pic.ss {
    max-height: initial;
  }

  .pic.ss+p {
    margin-top: var(--padding);
  }

  .pic.ss img {
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain;
    margin-bottom: var(--padding);
  }


}
